

<%# je n'arrive pas à shuffle un autre con %>

  <h2 class="t1 mb-4 mt-5"> Mes réservations</h2>

<div class="mes-bookings">
<div class="upc-reservations">
  <h3>Réservations à venir</h3>
  <div class="d-flex">
  <% @bookings.each do |booking| %>
    <% if booking.date > Date.today %>
      <div class="mes-cards-bookings-futur me-3">
        <% if booking.con.photos.attached? %>
          <% booking.con.photos.each do |photo| %>
            <img src="<%= cl_image_path(photo.key, height: 100, width: 100) %>" class="card-img-top" alt="Photo de <%= booking.con.name %>">
          <% end %>
        <% end %>
        <div class="card-body">
          <h5 class="card-title mb-2"><%= booking.con.name %></h5>
          <p class="card-text"><strong>Date de la réservation :</strong> <%= booking.date %></p>
          <p class="card-text"><strong>Statut réservation :</strong> À venir</p>
        </div>
      </div>
    <% end %>
  <% end %>
  </div>
  </div>

<div class="past-reservations mt-4">
  <h3>Réservations passées</h3>
  <div class="d-flex">
  <% @bookings.each do |booking| %>
    <% if booking.date <= Date.today %>
      <div class="mes-cards-bookings-past me-3">
        <% if booking.con.photos.attached? %>
          <% booking.con.photos.each do |photo| %>
            <img src="<%= cl_image_path(photo.key, height: 100, width: 100) %>" class="card-img-top" alt="Photo de <%= booking.con.name %>">
          <% end %>
        <% end %>
        <div class="card-body">
          <h5 class="card-title mb-2 text-secondary"><%= booking.con.name %></h5>
          <p class="card-text">Date de la réservation : <%= booking.date %></p>
          <p class="card-text">Statut réservation : Passée</p>
         </div>
      </div>
    <% end %>
  <% end %>
  </div>
</div>
</div>

<div class="accept-reservation">
  <div class="d-flex align-items-center justify-content-center mt-4">
      <p class="mb-1 me-3"><strong class="nr">1</strong> con en attente de réservation !</p>
      <%= link_to "Accepter ma réservation", "#", class: "btn btn-success rounded-4 me-3 mb-0" %>
      <%= link_to "Refuser ma réservation", "#", class: "btn btn-danger rounded-4 mb-0" %>
  </div>
</div>

<div class="btn-con-create mt-4">
  <div class="d-flex align-items-center justify-content-center">
  <%= link_to "Créer un con", "#", class:"btn btn-success mt-4, rounded-4" %>
  </div>
</div>

<h2 class="t1 mt-5"> Mes cons</h2>

<div class="mes-cons">
  <% @user.cons.each do |con| %>
  <div class="mes-cards-cons">
        <% if con.photos.attached? %>
          <% con.photos.each do |photo| %>
            <img src="<%= cl_image_path(con.photos.first.key, height: 100, width: 100) %>" class="card-img-top" alt="Photo de <%= con.name %>">
          <% end %>
        <% end %>
        <div class="card-body">
          <h5 class="card-title"><%= con.name %></h5>
          <p class="card-text"><strong>Description :</strong> <%= truncate(con.description, length: 25) %></p>
          <p class="card-text"><strong>Catégorie:</strong> <%= con.category %></p>
          <p class="card-text"><strong>Prix:</strong> <%= con.price %> €</p>
        </div>
      </div>
  <% end %>
</div>
