
<% @bookings.each do |booking| %>
  <% if @cons.include?(booking.con) && booking.accepted != true %>
    <div class="accept-reservation">
      <div class="d-flex align-items-center justify-content-between mt-4">
          <p class="mb-1 me-3"><strong class="nr"><%= booking.con.name%></strong> en attente de confirmation le <strong><%= booking.date.strftime('%d-%m-%Y')%></strong></p>
          <div>
          <%= link_to "Confirm", accept_path(booking), data: { turbo_method: :patch, turbo_confirm: 'Confirm ?' }, class: "btn btn-success rounded-4 me-3 mb-0" %>
          <%= link_to "Refuse", refuse_path(booking), data: { turbo_method: :patch, turbo_confirm: 'Refuse ?' }, class: "btn btn-danger rounded-4 mb-0" %>
          </div>
      </div>
    </div>
  <% end %>
<% end %>
<%# je n'arrive pas à shuffle un autre con %>

  <h2 class="t1 mb-4 mt-5"> Mes réservations</h2>
<div class="mes-bookings">
<div class="upc-reservations">
  <h3>Réservations à venir</h3>
  <div class="d-flex">
  <% @user_bookings.each do |booking| %>
    <% if booking.accepted == true && booking.date > Date.today %>
      <div class="mes-cards-bookings-futur me-3">
        <div class="card-body">
          <h5 class="card-title mb-2"><%= booking.con.name %></h5>
          <p class="card-text"><strong>Date de la réservation :</strong> <%= booking.date %></p>
          <p class="card-text"><strong>Statut réservation :</strong> À venir</p>
        </div>
      </div>
    <% end %>
  <% end %>
  </div>
  </div>

<div class="past-reservations mt-4">
  <h3>Réservations passées</h3>
  <div class="d-flex">
  <% @user_bookings.each do |booking| %>
    <% if booking.accepted == true && booking.date <= Date.today %>
      <div class="mes-cards-bookings-past me-3">
        <div class="card-body">
          <h5 class="card-title mb-2 text-secondary"><%= booking.con.name %></h5>
          <p class="card-text">Date de la réservation : <%= booking.date %></p>
          <p class="card-text">Statut réservation : Passée</p>
         </div>
      </div>
    <% end %>
  <% end %>
  </div>
</div>
</div>



<h2 class="t1 mt-5 mb-5"> Mes cons</h2>



<div class="mes-cons">
  <% @user.cons.each do |con| %>

      <div class="card" style="width: 18rem;" onclick="location.href='<%= con_path(con) %>'">
        <% if con.photos.attached? %>
            <img src="<%= cl_image_path(con.photos.first.key, height: 300, width: 400, crop: :fill) %>" class="card-img-top" alt="Photo de <%= con.name %>">
        <% else %>
          <img src="<%= cl_image_path(@pictures.sample, height: 300, width: 400, crop: :fill) %>" class="card-img-top" alt="Photo de <%= con.name %>">
        <% end %>
        <div class="card-body pb-4">
          <h5 class="card-title"><%= con.name %></h5>
          <p class="card-text"><strong>Description :</strong> <%= truncate(con.description, length: 25) %></p>
          <p class="card-text"><strong>Catégorie:</strong> <%= con.category %></p>
          <p class="card-text"><strong>Prix:</strong> <%= con.price %> €</p>
          <div class="stick">
            <p class="card-text"><%= link_to "edit", edit_con_path(con), class:"btn btn-success mt-4 rounded-4" %></p>
          </div>
        </div>
      </div>
  <% end %>
</div>
