<nav class="navbar bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand">
      <img src="assets/images/logo.png" alt="NAVBAR" width="60" height="60">
    </a>
    <div>
    <%= link_to "Login", "#", class:"btn btn-success mt-4 rounded-4 mb-4"%>
  </div>
  </div>
</nav>

<h1>Animez vos soirées, <strong>trouvez votre con préféré !</strong></h1>




  <div>
    <%= link_to "Je trouve mon con", "#", class:"btn btn-success mt-4 rounded-4 mb-4"%>
  </div>

<div class="cards">

  <% @cons.each do |con| %>

      <div class="card" style="width: 18rem;">
        <% if con.photos.attached? %>
          <% con.photos.each do |photo| %>
            <img src="<%= cl_image_path(photo.key, height: 300, width: 400, crop: :fill) %>" class="card-img-top" alt="Photo de <%= con.name %>">
          <% end %>
        <% end %>
        <div class="card-body">
          <h5 class="card-title"><%= link_to con.name, con_path(con) %></h5>
          <p class="card-text"><strong>Description :</strong> <%= truncate(con.description, length: 25) %></p>
          <p class="card-text"><strong>Catégorie:</strong> <%= con.category %></p>
          <p class="card-text"><strong>Prix:</strong> <%= con.price %> €</p>
        </div>
      </div>
  <% end %>
</div>
