<h1>Animez vos soirées, <strong>trouvez votre con préféré !</strong></h1>


<div class="row mt-5 mb-5">
  <div class="col d-flex align-items-center justify-content-center">
    <%= form_with url: cons_path, method: :get, local: true, class: "d-flex align-items-center" do |f| %>
      <%= f.select :category, options_for_select(@categories, params[:category]), { prompt: "Catégorie" }, { class: "form-select" } %>
      <%= f.submit "Je trouve mon con", class:"btn btn-success rounded-4 ms-3" %>
    <% end %>

  </div>
</div>


<div class="cards">

  <% @cons.each do |con| %>

      <div class="card" style="width: 18rem;" onclick="location.href='<%= con_path(con) %>'">
        <% if con.photos.attached? %>
          <% con.photos.each do |photo| %>
            <img src="<%= cl_image_path(photo.key, height: 300, width: 400, crop: :fill) %>" class="card-img-top" alt="Photo de <%= con.name %>">
          <% end %>
        <% end %>
        <div class="card-body">
          <h5 class="card-title"><%= con.name %></h5>
          <p class="card-text"><strong>Description :</strong> <%= truncate(con.description, length: 25) %></p>
          <p class="card-text"><strong>Catégorie:</strong> <%= con.category %></p>
          <p class="card-text"><strong>Prix:</strong> <%= con.price %> €</p>
        </div>
      </div>
  <% end %>
</div>
