<h1 class="con-name"><%= @con.name %></h1>

<div class="container">
  <div class="d-flex align-items-center justify-content-center mt-4">
    <% if @con.photos.attached? %>
    <% @con.photos.each do |photo| %>
      <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill, class: "img-con"%>
      <% end %>
    <% else %>
    <%= cl_image_tag("7h8odfjtpjq7yo52ja1x9w98pplz",
        width: 400, height: 300, crop: :fill, class: "img-con" )%>
    <% end %>
  </div>

  <div class="row align-items-start">
    <div class="col-md-9 d-flex align-items-center">
      <div class="con-description">
        <strong class="textcat">Catégorie </strong> : <%= @con.category %>
        <p>Pour passer des soirées mémorables "<%= @con.name %>" saura vous faire mourrir de rire.</p>
        <strong class="textcat">Description </strong> : <%= @con.description %>
      </div>
    </div>

    <div class="col-md-3">
      <div class="con-reservation">
        <h4>Réserve <%= @con.name %> pour ta soirée !</h4>
        <p>Disponibilités de <%= @con.name %></p>
        <%= simple_form_for [@con, @booking] do |f| %>
          <%= f.input :date,
                      as: :string,
                      input_html: { data: { controller: "datepicker", datepicker_booking_value: @booking_dates.to_json } } %>
          <p>Price: <%= @con.price %>€</p>
          <p>Confirme ta réservation</p>
          <%= f.submit "Je réserve #{@con.name}", class: "btn btn-success rounded-4 text-white" %>
        <% end %>
      </div>
    </div>
  </div>

<div class="btn-back">
  <%= link_to "Retour à la liste des cons", cons_path, class:"btn btn-primary mt-4, rounded-4" %>
  </div>
</div>

</div>
